[Desktop Entry]
Type=Application
Name=Keyboard Test
Comment=Open MonkeyType keyboard testing website
Exec=env QTWEBENGINE_CHROMIUM_FLAGS="--no-sandbox" falkon https://inputtest.com/keyboard-test
Terminal=false
Categories=Utility;
Icon=input-keyboard
