[Desktop Entry]
Type=Application
Name=Keyboard Test (MonkeyType)
Comment=Open MonkeyType keyboard testing website
Exec=env QTWEBENGINE_CHROMIUM_FLAGS="--no-sandbox" falkon https://monkeytype.com
Terminal=false
Categories=Utility;
Icon=input-keyboard
