# Load partition table and file system modules
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod ntfs
insmod ntfscomp
insmod exfat
insmod udf

# Use graphics-mode output
if loadfont "${prefix}/fonts/unicode.pf2" ; then
    insmod all_video
    set gfxmode="auto"
    terminal_input console
    terminal_output console
fi

# Get a human readable platform identifier
if [ "${grub_platform}" == 'efi' ]; then
    bb_platform='UEFI'
elif [ "${grub_platform}" == 'pc' ]; then
    bb_platform='BIOS'
else
    bb_platform="${grub_cpu}-${grub_platform}"
fi

# Set default menu entry
default=burnbench
timeout=3
timeout_style=menu


# Menu entries

menuentry "AutoBench live (%ARCH%, ${bb_platform})" --class arch --class gnu-linux --class gnu --class os --id 'burnbench' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}


if [ "${grub_platform}" == 'efi' -a "${grub_cpu}" == 'x86_64' -a -f '/boot/memtest86+/memtest.efi' ]; then
    menuentry 'Run Memtest86+ (RAM test)' --class memtest86 --class memtest --class gnu --class tool {
        set gfxpayload=800x600,1024x768
        linux /boot/memtest86+/memtest.efi
    }
fi
if [ "${grub_platform}" == 'pc' -a -f '/boot/memtest86+/memtest' ]; then
    menuentry 'Run Memtest86+ (RAM test)' --class memtest86 --class memtest --class gnu --class tool {
        set gfxpayload=800x600,1024x768
        linux /boot/memtest86+/memtest
    }
fi
if [ "${grub_platform}" == 'pc' -a -f '/boot/syslinux/memdisk' -a -f '/boot/freedos.img' ]; then
    menuentry 'FreeDOS (AMI DMI tools)' --class dos --class tool {
        linux16 /boot/syslinux/memdisk
        initrd16 /boot/freedos.img
    }
fi
if [ "${grub_platform}" == 'efi' ]; then
    menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
        fwsetup
    }
fi

menuentry 'System shutdown' --class shutdown --class poweroff {
    echo 'System shutting down...'
    halt
}

menuentry 'System restart' --class reboot --class restart {
    echo 'System rebooting...'
    reboot
}
